h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
    line-height: 32px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px black;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
}

h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: black;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 24px;
}

body {
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

#category,
#gallery,
#deal,
#services,
#stores {
    margin-bottom: 50px;
    padding: 0 5vw;
}

/* --------------------------------------------------------------------------------------------- header --------------------------------------------------------------------------------------------- */
/* header */
header {
    width: 100vw;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.35);
}

#logo {
    width: auto;
    height: 5vh;
    margin-left: 5vw;
}

/* hamburger icon */
#burger {
    display: none;
    cursor: pointer;
    margin-right: 5vw;
}

#burger div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.open .line1 {
    transform: rotate(-45deg) translate(-8.5px, 8.5px);
}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    transform: rotate(45deg) translate(-8.5px, -10.5px);
}

/* mobile menu */
#mobileMenu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: -20;
    padding: 10vh 0 0 0;
}

.open #mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#mobileMenu li {
    text-align: center;
    width: 80vw;
    padding: 2vh 0 2vh 0;
}

#mobileMenu hr {
    border: #0058a2 solid 1px;
    width: 80vw;
    margin: 3vh 0 3vh 0;
}

#mobileMenu li a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#mobileMenu li:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

#mobileMenu li a:hover {
    transition: color .2s;
    color: #f9d716;
}

/* desktop nav */
#navMenu {
    margin-right: 5vw;
}


#navMenu ul {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#navMenu ul li {
    padding: 5px;
    margin-left: 14px;
}

#navMenu ul li a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#navMenu ul li:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

#navMenu ul li a:hover {
    transition: color .2s;
    color: #f9d716;
}

@media screen and (min-width: 768px) {
    header {
            height: 80px;
        }

    #logo {
        width: 100px;
        height: auto;
    }
}

/* --------------------------------------------------------------------------------------------- headbanner --------------------------------------------------------------------------------------------- */
#headbanner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 8vh;
}

#headbanner img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

#headbanner div {
    position: absolute;
    /* transform: translate(0, 35px); */
    z-index: 1;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    padding: 0 50px;
}

#headbanner div h1 {
    font-size: 35px;
    line-height: 45px;
    color: white;
}

#headbanner div p {
    color: white;
}

/* headbanner responsive */
@media screen and (min-width: 768px) {
    #headbanner {
        margin-top: 80px;
    }

    #headbanner div h1 {
        font-size: 50px;
    }

    #headbanner img {
        content: url('/assets/images/headbanner_desktop.jpg');
    }

}

/* --------------------------------------------------------------------------------------------- category --------------------------------------------------------------------------------------------- */
#category {
    margin-bottom: auto;
    padding-right: 0;
}

.glide {
    top: -50px;
    background-color: black;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.glide__slide {
    overflow: hidden;
    /* border-radius: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat_slide {
    width: 300px;
    height: 200px;
}

.cat_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.3s;
}

.cat_slide img:hover {
    opacity: 0.35;
    filter: blur(3px);
}

.cat_slide h2 {
    position: absolute;
    z-index: 1;
    margin: 0;
}

/* headbanner responsive */
@media screen and (min-width: 768px) {
    #category {
        padding-right: 50px;
        margin-bottom: 60px;
    }
}

/* --------------------------------------------------------------------------------------------- Sale --------------------------------------------------------------------------------------------- */
#deal_container {
    margin-top: 15px;
}

#deal_container a img {
    width: 100%;
}

/* sale responsive */
@media screen and (min-width: 768px) {
    #deal_container a img {
        content: url('/assets/images/salebanner_desktop.jpg');
    }
}

/* --------------------------------------------------------------------------------------------- masonry --------------------------------------------------------------------------------------------- */
#gallery {
    text-align: center;
}

#gallery h1 {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-item {
    display: none;
    float: left;
}

.show {
    display: block;
}

.grid-sizer,
.grid-item {
    width: 50%;
}

.grid-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

#load-more-btn {
    background-color: white;
    border-radius: 70px;
    border: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    width: 140px;
    height: 45px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.3s;
}

#load-more-btn:hover {
    background-color: gray;
    border: none;
    color: white;
}

/* masonry responsive */
@media screen and (min-width: 768px) {

    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

/* --------------------------------------------------------------------------------------------- IKEA services --------------------------------------------------------------------------------------------- */
#services,
#stores {
    margin-bottom: 80px;
}

.ser_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ser_slide button {
    position: absolute;
    z-index: 1;
    margin: 0;
    background-color: white;
    border-radius: 70px;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    width: 150px;
    height: auto;
    margin-top: 160px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.ser_slide button:hover {
    background-color: black;
    color: white;
}

.ser__arrow--left {
    left: 10px
}

.ser__arrow--right {
    right: 10px
}

/* services responsive */
@media screen and (min-width: 768px) {

    .ser_slide button {
        margin-top: 140px;
    }

    .ser__arrow--left {
        left: 45px
    }

    .ser__arrow--right {
        right: 45px
    }
}

/* --------------------------------------------------------------------------------------------- IKEA Stores --------------------------------------------------------------------------------------------- */
#stores {
    position: relative;
}

#stores div:nth-child(1) {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#map {
    position: relative;
    outline-style: none;
    height: 400px;
    width: 100%;
}

/* store responsive */
@media screen and (min-width: 768px) {
    #stores {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    #stores div:nth-child(1) {
        width: 600px;
        padding-right: 50px;
    }

}

/* --------------------------------------------------------------------------------------------- footer --------------------------------------------------------------------------------------------- */
footer {
    background-color: #f5f5f5;
    padding: 40px 5vw;
    height: auto;
    text-align: center;
}

footer div img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

footer div ul li {
    margin-bottom: 16px;
}

footer div ul li a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 24px;
    text-decoration: none;
}

footer hr {
    margin: 20px 0;
    opacity: 0.5;
}

#footersmall ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#footersmall ul li {
    flex-basis: 50%;
    padding: 5px;
    box-sizing: border-box;
}

/* footer responsive */
@media screen and (min-width: 768px) {
    footer div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer div img {
        margin-bottom: 0px;
    }

    footer div ul {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer div ul li {
        margin-bottom: 0;
    }

    #footersmall {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footersmall ul {
        width: 65%;
        margin-top: 0;
        flex-wrap: nowrap;
    }

    #footersmall ul li {
        flex-basis: 100%;
    }
}